!!!

.container
  #news
    %h1 本読みの図書館

    %h2#search このサイトについて

    %p
      全文検索可能な電子書籍の図書館です。
      メモを残したり、他の人の書いたメモを読むことが出来ます。

    %p
      このページは<a href="https://github.com/ongaeshi/honyomi">Honyomi</a>のデモサイトでもあります。
      サイトの使い勝手が気に入ったら同じ環境を自分のPCやサーバー上に構築することが出来ます。
      手持ちの電子書籍を好きな時に好きな場所で読んだりブックマークやメモを残せるようになります。

    %p
      サーバー上にHonyomiを設置したい時は<a href="https://github.com/ongaeshi/honyomi-web">honyomi-web</a>が
      便利です。

    %h2#help 使い方

    トップページから適当な単語を入力

    Honyomi自身の使い方は<a href="http://localhost:9295/help">Help</a>どうぞ。

    %h2#new-book 新しい本を置いてほしい

    %h2#license 本のライセンスが知りたい

    <a href="http://localhost:9295/books">Books</a>をどうぞ。

